@model IEnumerable<TalentManagement.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GigsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GigsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenueName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VenueName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VenueName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
